doctype html
html
    head
        meta(charset='utf-8')
        title Detail
        link(rel='stylesheet' type='text/css' href='style.css')

    body
        div(id='whole')
            h1 User Detail

            p(id='usernameDetailTag' class='detailTag') Username
            span(id='usernameDetail' class='detailContent') #{username}

            p(id='sidDetailTag' class='detailTag') StudentID
            span(id='sidDetail' class='detailContent') #{sid}
            
            p(id='phoneDetailTag' class='detailTag') Phone
            span(id='phoneDetail' class='detailContent') #{phone}
            
            p(id='emailDetailTag' class='detailTag') Email
            span(id='emailDetail' class='detailContent') #{email}