doctype html
html
  head
    title= title
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jQuery/jquery-3.3.1.js')
  body
    block content
